In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv(r"C:\Users\ABDUL_HADI\Desktop\ML Lab\KNN and Niave_Bayes\diabetes.csv")

In [6]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
data.shape

(768, 9)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X = data.drop(["Outcome"] , axis=1)
y = data["Outcome"]

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.3 , random_state=42)

In [14]:
print("Training set size:", X_train.shape, y_train.shape)
print("Testing set size:", X_test.shape, y_test.shape)

Training set size: (537, 8) (537,)
Testing set size: (231, 8) (231,)

In [28]:
def euclidean_distance(x1, x2):
    return np.sum(np.abs(x1 - x2))

In [30]:
import numpy as np

def knn(X_train, y_train, X_test, k):
    predictions = []
    
    for test_point in X_test:  # test_point should be a numpy array
        distances = []
        for i in range(len(X_train)):
            dist = euclidean_distance(X_train[i], test_point)  # Ensure numpy array indexing
            distances.append((dist, y_train[i]))
        
        # Sort distances in ascending order and pick the top k
        distances.sort(key=lambda x: x[0])
        k_nearest_neighbors = distances[:k]
        
        # Get the labels of the k-nearest neighbors
        k_nearest_labels = [label for (_, label) in k_nearest_neighbors]
        
        # Determine the most common class label among the neighbors
        prediction = max(set(k_nearest_labels), key=k_nearest_labels.count)
        predictions.append(prediction)
    
    return predictions

In [32]:
# Convert DataFrame to numpy arrays
X_train_np = X_train.values
X_test_np = X_test.values
y_train_np = y_train.values

In [34]:
def accuracy(y_true, y_pred):
    return np.sum(y_true == y_pred) / len(y_true)

In [36]:
print(type(X_train_np), type(X_test_np), type(y_train_np))

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [38]:
# Predict using KNN
k = int(input("Enter the value of k :\n"))
y_pred = knn(X_train_np, y_train_np, X_test_np, k=k)

# Evaluate the accuracy
acc = accuracy(y_test, y_pred)
print(f"Accuracy: {acc:.2f}")

Enter the value of k :
 3

Accuracy: 0.68